<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>ToDo</title>
</head>
<body>

  <canvas id="canvas"></canvas>








<!--<div class="main">-->

        <!--<h1>TODOS</h1>-->

        <!--<form action="" id="addTask">-->
            <!--<input type="checkbox" class="mainCheck"><input id="new-todo" type="text" placeholder="new string">-->
            <!--<input type="submit" class="yes" value="yes">-->

            <!--<div id="list"></div>-->
            <!--<div id="todo-stats"></div>-->
        <!--</form>-->

<!--</div>-->

        <!--<script type="text/template" id="taskTemplate">-->
            <!--<button class="delete">X</button>-->
            <!--<input type="checkbox" class="check" <%= done ? 'checked="checked"' : '' %> >-->
            <!--<span class="todo-title"><%= title %> </span><input type="text" class="edit"><button class="okTitle">ok</button><br>-->
            <!--<span class="todo-content"><%= name %></span><input type="text" class="editCont"><button class="okCont">ok</button>-->

        <!--</script>-->

        <!--<script type="text/template" id="statTemplate">-->
            <!--<% if (total) { %>-->
            <!--&lt;!&ndash;<span class="todo-count">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="wordF"><%= remaining == 1 ? 'Осталась ' : 'Осталось ' %></span>&ndash;&gt;-->
            <!--<span class="number">Активных задач: <%= remaining %></span>-->
            <!--&lt;!&ndash;<span class="wordS"><%= remaining == 1 ? 'задача' : 'задачи' %></span>.&ndash;&gt;-->

            <!--</span>-->
                <!--<% } %>-->
                <!--<% if (done) { %>-->
                <!--<span class="todoClear">-->
                  <!--<a href="#" class="delDone">-->
                    <!--<span ><%= done == 1 ? 'Удалить завершенную ' : 'Удалить завершенные ' %> <%= done %></span>-->
                   <!--</a>-->
                <!--</span>-->
<!--<% } %>-->
        <!--</script>-->

<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/backbone.localStorag.js"></script>

<!--<script type="text/javascript" src="script.js"></script>-->
<script type="text/javascript" src="scriptLab.js"></script>

</body>
</html>